GEMINI_API_KEY=AIzaSyBBz9-6W4FYEywpJh1pOUa8y5gS67VGbXA
CHROMA_PATH=/home/aliza-taimur/disasterlink-backend/chroma_db
DB_TYPE=postgres
PG_HOST=localhost
PG_PORT=5432
PG_USER=new_user
PG_PASSWORD=strong_password
PG_DATABASE=disasterlink
